body {
    height: 100%;
    margin: 0;
  }
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.title {
    position: absolute;
    color: white;
    font-size: 4rem;
    left: 44%;
    z-index: 2;
}
@media only screen and (max-width: 450px) {
    .title {
        position: absolute;
        left: 35%;
        font-size: 2.5rem;
        top: 2rem;
    }
}
@media screen and (min-width: 1650px) {
    .title {
        position: absolute;
        left: 45%;
    }
}
@media screen and (min-width: 2000px) {
    .title {
        position: absolute;
        left: 45%;
    }
}
.informationText {
    color: white;
    position: absolute;
    font-size: 1.25em;
    border: 0.25rem;
    border-radius: 1.25rem;
    top: 10rem;
    width: 50%;
    font-weight: 700;
    z-index: 2;
    margin-left: 18%;
    margin-right: 25%;
}
@media only screen and (max-width: 450px) {
    .informationText {
        position: absolute;
        left: 5%;
        width: 90%;
        top: 10rem;
        font-size: 1em;
    }
}
@media screen and (min-width: 1650px) {
    .informationText {
        position: absolute;
        left: 5%;
    }
}
@media screen and (min-width: 2000px) {
    .informationText {
        margin-left: 25%;
        margin-right: 23%;
    }
}
@media screen and (max-width: 2500px) {
    .informationText {
        left: 10%;
    }
}
@media screen and (min-width: 2550px) {
    .informationText {
        left: 10%;
    }
}
.solarSystem {
    color: white;
    position: absolute;
    top: 32%;
    left: 22%;
    font-size: 130%;
    z-index: 2;
}
@media screen and (min-width: 1650px) {
    .solarSystem {
        left: 26%;
        top: 25%;
    }
}
@media only screen and (max-width: 450px) {
    .solarSystem {
        position: absolute;
        left: 30%;
        font-size: 1rem;
        top: 30%;
    }
}
.stars {
    color: white;
    position: absolute;
    top: 32%;
    left: 68%;
    font-size: 130%;
    z-index: 2;
}
@media only screen and (max-width: 450px) {
    .stars {
        position: absolute;
        left: 40%;
        font-size: 1rem;
        top: 65%;
    }
}
@media screen and (min-width: 1650px) {
    .stars {
        left: 69%;
        top: 25%;
    }
}
@media screen and (min-width: 2000px) {
    .stars {
        position: absolute;
        margin-left: -1%;
    }
}
#solarSystemImage {
    position: absolute;
    width: 30%;
    top: 35%;
    left: 15%;
    border-radius: 1.2rem;
}
@media only screen and (max-width: 450px) {
    #solarSystemImage {
        position: absolute;
        left: 10%;
        width: 20rem;
        top: 40%;
    }
}
@media screen and (min-width: 2000px) {
    #solarSystemImage {
        position: absolute;
        width: 28%;
        top: 34%;
    }
}
#starsImage {
    position: absolute;
    width: 30%;
    top: 35%;
    left: 56%;
    border-radius: 1.2rem;
}
@media only screen and (max-width: 450px) {
    #starsImage {
        position: absolute;
        left: 10%;
        width: 20rem;
        top: 75%;
    }
}
@media screen and (min-width: 2000px) {
    #starsImage {
        position: absolute;
        width: 28%;
        top: 34%;
    }
}
.blackHole {
    color: white;
    position: absolute;
    left: 25%;
    font-size: 130%;
    z-index: 2;
    top: 80%;
}
@media only screen and (max-width: 450px) {
    .blackHole {
        position: absolute;
        left: 30%;
        font-size: 1rem;
        top: 100%;
    }
}
.galaxy {
    color: white;
    position: absolute;
    top: 83%;
    left: 66%;
    font-size: 130%;
    z-index: 2;
}
@media only screen and (max-width: 450px) {
    .galaxy {
        position: absolute;
        left: 35%;
        font-size: 1rem;
        top: 133%;
    }
}
@media screen and (min-width: 1650px) {
    .galaxy {
        left: 67%;
        top: 80%;
    }
}
@media screen and (min-width: 2000px) {
    .galaxy {
        position: absolute;
        margin-left: -1%;
    }
}
@media screen and (min-width: 2000px) {
    .stars {
        position: absolute;
        margin-left: -1%;
    }
}
#blackHoleImage {
    position: absolute;
    width: 30%;
    top: 95%;
    left: 15%;
    border-radius: 1.2rem;
}
@media only screen and (max-width: 450px) {
    #blackHoleImage {
        position: absolute;
        left: 10%;
        width: 20rem;
        top: 110%;
    }
}
@media screen and (min-width: 1650px) {
    #blackHoleImage {
        top: 92%;
    }
}
@media screen and (min-width: 2000px) {
    #blackHoleImage {
        position: absolute;
        width: 28%;
        top: 82%;
    }
}
#galaxieImage {
    position: absolute;
    width: 30%;
    top: 95%;
    left: 56%;
    border-radius: 1.2rem;
}
@media only screen and (max-width: 450px) {
    #galaxieImage {
        position: absolute;
        left: 10%;
        width: 20rem;
        top: 143%;
    }
}
@media screen and (min-width: 1650px) {
    #galaxieImage {
        top: 92%;
    }
}
@media screen and (min-width: 2000px) {
    #galaxieImage {
        position: absolute;
        width: 28%;
        top: 82%;
    }
}
